header{background-color: black;
height:20px;

}
body{background-image: url('bgkontakt.jpg');}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    
  }
  
  li a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    color: turquoise;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color:#111;
  }
   h1{font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   color:white;}
   
   p{color:white;
	font-family:Arial, Helvetica, sans-serif;}

div.b{background: rgba(0, 0, 0, 0.292);
		max-width:100%;
		height:auto;
		color:white;
		font-family:Arial, Helvetica, sans-serif;
		font-weight:bold;
    max-width: 70%;
    
		}
		#bold{font-weight:bold;}
	input[type=text] {margin:20px 0px;
						width:60%;
						height:5%;
						box-shadow: 1px red;
						}
	input[type=radio] {margin:10px;
	}
		select{background-color:grey;}
textarea{max-width:100%;}
