header
	{background-color: black;
	height:20px;
			}
table
	{ margin-left: auto;
  margin-right: auto;
  max-width: 70%;}

h2
	{
  color:white;
}

body{background-image: url('bgusluge.jpg');}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    
  }
  
  li a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    color: turquoise;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color:#111;
  }
   h1{font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   color:white;}
   p{color:white;}
   @keyframes example {
	  0%   {opacity:0% ;}
	50%  {opacity:50%}
   100% {opacity:100%}}
   table{
	 width: 100%;
	background-color:grey;
	border:0px;
	animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
td,th{padding:20px;
font-family: Arial, Helvetica, sans-serif;
size: 25px;}

#naslov{
	background-color:orange;
	border:0px;
}
tr:nth-child(even) {background-color:white;}
caption{color:white;}
